<h2 mat-dialog-title>Edit User</h2>
<mat-dialog-content>
    <form (ngSubmit)="onSubmit(registrationForm)" #registrationForm="ngForm">
        <p>
            <mat-form-field appearance="outline">
                <mat-label>firstname</mat-label>
                <input type="text" name="name" matInput placeholder="Your firstname" [(ngModel)]="name" autofocus required>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>lastname</mat-label>
                <input type="text" name="lastname" matInput placeholder="Your lastname" [(ngModel)]="lastname" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>username</mat-label>
                <input type="text" name="username" matInput placeholder="Your e-mail" [(ngModel)]="username" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> password</mat-label>
                <input name="password" [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </p>
        <p>
            <button mat-flat-button type="submit" color="primary">Save</button>
        </p>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
